'.source.js':
  #
  # animation
  #
  'animation':
    'prefix': 'janim'
    'body': 'animation: \'$1\','

  'animation-delay':
    'prefix': 'janimdel'
    'body': 'animationDelay: \'$1\','

  'animation-direction':
    'prefix': 'janimdir'
    'body': 'animationDirection: \'$1\','

  'animation-duration':
    'prefix': 'janimdur'
    'body': 'animationDuration: \'$1\','

  'animation-fill-mode':
    'prefix': 'janimfm'
    'body': 'animationFillMode: \'$1\','

  'animation-iteration-count':
    'prefix': 'janimic'
    'body': 'animationIterationCount: \'$1\','

  'animation-name':
    'prefix': 'janimn'
    'body': 'animationName: \'$1\','

  'animation-play-state':
    'prefix': 'janimps'
    'body': 'animationPlayState: \'$1\','

  'animation-timing-function':
    'prefix': 'janimtf'
    'body': 'animationTimingFunction: \'$1\','



  'appearance':
    'prefix': 'jap'
    'body': 'appearance: \'$1\','



  'position':
    'prefix': 'jpos'
    'body': 'position: \'$1\','

  'top':
    'prefix': 'jt'
    'body': 'top: \'$1\','

  'left':
    'prefix': 'jl'
    'body': 'left: \'$1\','

  'bottom':
    'prefix': 'jb'
    'body': 'bottom: \'$1\','

  'right':
    'prefix': 'jr'
    'body': 'right: \'$1\','

  'z-index':
    'prefix': 'jz'
    'body': 'zIndex: $1,'

  'float':
    'prefix': 'jfl'
    'body': 'float: \'$1\','

  'clear':
    'prefix': 'jcl'
    'body': 'clear: \'$1\','


  #
  # columns
  #
  'columns':
    'prefix': 'jcolm'
    'body': 'columns: \'$1\','

  'column-count':
    'prefix': 'jcolmc'
    'body': 'columnCount: \'$1\','

  'column-fill':
    'prefix': 'jcolmf'
    'body': 'columnFill: \'$1\','

  'column-gap':
    'prefix': 'jcolmg'
    'body': 'columnGap: \'$1\','

  'column-rule':
    'prefix': 'jcolmr'
    'body': 'column-rule: \'$1\','

  'column-rule-color':
    'prefix': 'jcolmrc'
    'body': 'columnRuleColor: \'$1\','

  'column-rule-style':
    'prefix': 'jcolmrs'
    'body': 'columnRuleStyle: \'$1\','

  'column-rule-width':
    'prefix': 'jcolmrw'
    'body': 'columnRuleWidth: \'$1\','

  'column-span':
    'prefix': 'jcolms'
    'body': 'columnSpan: \'$1\','

  'column-width':
    'prefix': 'jcolmw'
    'body': 'columnWidth: \'$1\','



  'display':
    'prefix': 'jd'
    'body': 'display: \'$1\','

  'visibility':
    'prefix': 'jv'
    'body': 'visibility: \'$1\','

  'overflow':
    'prefix': 'jov'
    'body': 'overflow: \'$1\','

  'overflow-x':
    'prefix': 'jovx'
    'body': 'overflowX: \'$1\','

  'overflow-y':
    'prefix': 'jovy'
    'body': 'overflowY: \'$1\','

  'overflow-style':
    'prefix': 'jovs'
    'body': 'overflowStyle: \'$1\','

  'clip':
    'prefix': 'jcp'
    'body': 'clip: \'$1\','

  'box-sizing':
    'prefix': 'jbxz'
    'body': 'boxSizing: \'$1\','

  'margin':
    'prefix': 'jm'
    'body': 'margin: \'$1\','

  'margin-top':
    'prefix': 'jmt'
    'body': 'marginTop: \'$1\','

  'margin-left':
    'prefix': 'jml'
    'body': 'marginLeft: \'$1\','

  'margin-bottom':
    'prefix': 'jmb'
    'body': 'marginBottom: \'$1\','

  'margin-right':
    'prefix': 'jmr'
    'body': 'marginRight: \'$1\','

  'padding':
    'prefix': 'jp'
    'body': 'padding: \'$1\','

  'padding-top':
    'prefix': 'jpt'
    'body': 'paddingTop: \'$1\','

  'padding-left':
    'prefix': 'jpl'
    'body': 'paddingLeft: \'$1\','

  'padding-bottom':
    'prefix': 'jpb'
    'body': 'paddingBottom: \'$1\','

  'padding-right':
    'prefix': 'jpr'
    'body': 'paddingRight: \'$1\','

  'width':
    'prefix': 'jw'
    'body': 'width: \'$1\','

  'max-width':
    'prefix': 'jmaw'
    'body': 'maxWidth: \'$1\','

  'min-width':
    'prefix': 'jmiw'
    'body': 'minWidth: \'$1\','

  'height':
    'prefix': 'jh'
    'body': 'height: \'$1\','

  'max-height':
    'prefix': 'jmah'
    'body': 'maxHeight: \'$1\','

  'min-height':
    'prefix': 'jmih'
    'body': 'minHeight: \'$1\','

  'max-resolution':
    'prefix': 'jmar'
    'body': 'maxResolution: $1,'

  'min-resolution':
    'prefix': 'jmir'
    'body': 'minResolution: $1,'

  'orientation':
    'prefix': 'jori'
    'body': 'orientation: $1,'

  'outline':
    'prefix': 'jol'
    'body': 'outline: \'$1\','

  'outline-style':
    'prefix': 'jols'
    'body': 'outlineStyle: \'$1\','

  'outline-color':
    'prefix': 'jolc'
    'body': 'outlineColor: \'$1\','

  'backface-visibility':
    'prefix': 'jbfv'
    'body': 'backfaceVisibility: \'$1\','



  #
  # border
  #
  'border':
    'prefix': 'jbd'
    'body': 'border: \'$1\','

  'border-break':
    'prefix': 'jbdbk'
    'body': 'borderBreak: \'$1\','

  'border-collapse':
    'prefix': 'jbdcl'
    'body': 'borderCollapse: \'$1\','

  'border-color':
    'prefix': 'jbdc'
    'body': 'borderColor: \'#$1\','

  'border-image':
    'prefix': 'jbdi'
    'body': 'borderImage: \'url($1)\','

  'border-top-image':
    'prefix': 'jbdti'
    'body': 'borderTopImage: \'url($1)\','

  'border-right-image':
    'prefix': 'jbdri'
    'body': 'borderRightImage: \'url($1)\','

  'border-bottom-image':
    'prefix': 'jbdbi'
    'body': 'borderBottomImage: \'url($1)\','

  'border-left-image':
    'prefix': 'jbdli'
    'body': 'borderLeftImage: \'url($1)\','

  'border-corner-image':
    'prefix': 'jbdci'
    'body': 'borderCornerImage: \'url($1)\','

  'border-top-left-image':
    'prefix': 'jbdtli'
    'body': 'borderTopLeftImage: \'url($1)\','

  'border-top-right-image':
    'prefix': 'jbdtri'
    'body': 'borderTopRightImage: \'url($1)\','

  'border-bottom-right-image':
    'prefix': 'jbdbri'
    'body': 'borderBottomRightImage: \'url($1)\','

  'border-bottom-left-image':
    'prefix': 'jbdbli'
    'body': 'borderBottomLeftImage: \'url($1)\','

  'border-fit':
    'prefix': 'jbdf'
    'body': 'borderFit: \'$1\','

  'border-length':
    'prefix': 'jbdlen'
    'body': 'borderLength: \'$1\','

  'border-spacing':
    'prefix': 'jbdsp'
    'body': 'borderSpacing: \'$1\','

  'border-style':
    'prefix': 'jbds'
    'body': 'borderStyle: \'$1\','

  'border-width':
    'prefix': 'jbdw'
    'body': 'borderWidth: \'$1\','

  'border-top-width':
    'prefix': 'jbdtw'
    'body': 'borderTopWidth: \'$1\','

  'border-right-width':
    'prefix': 'jbdrw'
    'body': 'borderRightWidth: \'$1\','

  'border-bottom-width':
    'prefix': 'jbdbw'
    'body': 'borderBottomWidth: \'$1\','

  'border-left-width':
    'prefix': 'jbdlw'
    'body': 'borderLeftWidth: \'$1\','

  'border-top':
    'prefix': 'jbdt'
    'body': 'borderTop: \'$1\','

  'border-top-style':
    'prefix': 'jbdts'
    'body': 'borderTopStyle: \'$1\','

  'border-top-color':
    'prefix': 'jbdtc'
    'body': 'borderTopColor: \'#$1\','

  'border-right':
    'prefix': 'jbdr'
    'body': 'borderRight: \'$1\','

  'border-right-style':
    'prefix': 'jbdrst'
    'body': 'borderRightStyle: \'$1\','

  'border-right-color':
    'prefix': 'jbdrc'
    'body': 'borderRightColor: \'#$1\','

  'border-bottom':
    'prefix': 'jbdb'
    'body': 'borderBottom: \'$1\','

  'border-bottom-style':
    'prefix': 'jbdbs'
    'body': 'borderBottomStyle: \'$1\','

  'border-bottom-color':
    'prefix': 'jbdbc'
    'body': 'borderBottomColor: \'#$1\','

  'border-left':
    'prefix': 'jbdl'
    'body': 'borderLeft: \'$1\','

  'border-left-style':
    'prefix': 'jbdls'
    'body': 'borderLeftStyle: \'$1\','

  'border-left-color':
    'prefix': 'jbdlc'
    'body': 'borderLeftColor: \'#$1\','

  'border-radius':
    'prefix': 'jbdrs'
    'body': 'borderRadius: \'$1\','

  'border-radius':
    'prefix': 'jbdrs'
    'body': 'borderRadius: \'$1\','

  'border-top-right-radius':
    'prefix': 'jbdtrrs'
    'body': 'borderTopRightRadius: \'$1\','

  'border-top-left-radius':
    'prefix': 'jbdtlrs'
    'body': 'borderTopLeftRadius: \'$1\','

  'border-bottom-right-radius':
    'prefix': 'jbdbrrs'
    'body': 'borderBottomRightRadius: \'$1\','

  'border-bottom-left-radius':
    'prefix': 'jbdblrs'
    'body': 'borderBottomLeftRadius: \'$1\','


  #
  # background
  #
  'background':
    'prefix': 'jbg'
    'body': 'background: \'#$1\','

  'background-attachment':
    'prefix': 'jbga'
    'body': 'backgroundAttachment: \'$1\','

  'background-color':
    'prefix': 'jbgc'
    'body': 'backgroundColor: \'#$1\','

  'background-image':
    'prefix': 'jbgi'
    'body': 'backgroundImage: \'url($1)\','

  'background-position':
    'prefix': 'jbgp'
    'body': 'backgroundPosition: \'$1\','

  'background-position-x':
    'prefix': 'jbgpx'
    'body': 'backgroundPositionX: \'$1\','

  'background-position-y':
    'prefix': 'jbgpy'
    'body': 'backgroundPositionY: \'$1\','

  'background-repeat':
    'prefix': 'jbgr'
    'body': 'backgroundRepeat: \'$1\','

  'background-break':
    'prefix': 'jbgbk'
    'body': 'backgroundBreak: \'$1\','

  'background-clip':
    'prefix': 'bgcp'
    'body': 'backgroundClip: \'$1\','

  'background-origin':
    'prefix': 'bgo'
    'body': 'backgroundOrigin: \'$1\','

  'background-size':
    'prefix': 'bgsz'
    'body': 'backgroundSize: \'$1\','

  'color':
    'prefix': 'jc'
    'body': 'color: \'#$1\','

  'content':
    'prefix': 'jcnt'
    'body': 'content: \'\"$1\"\','



  'table-layout':
    'prefix': 'jtbl'
    'body': 'tableLayout: \'$1\','

  'caption-side':
    'prefix': 'jcps'
    'body': 'captionSide: \'$1\','

  'empty-cells':
    'prefix': 'jec'
    'body': 'emptyCells: \'$1\','

  'list-style':
    'prefix': 'jlis'
    'body': 'listStyle: \'$1\','

  'list-style-position':
    'prefix': 'jlisp'
    'body': 'listStylePosition: \'$1\','

  'list-style-type':
    'prefix': 'jlis'
    'body': 'listStyleType: \'$1\','

  'list-style-image':
    'prefix': 'jlisi'
    'body': 'listStyleImage: \'$1\','

  'quotes':
    'prefix': 'jq'
    'body': 'quotes: \'$1\','

  'counter-increment':
    'prefix': 'jcoi'
    'body': 'counterIncrement: \'$1\','

  'counter-reset':
    'prefix': 'jcor'
    'body': 'counterReset: \'$1\','

  'vertical-align':
    'prefix': 'jva'
    'body': 'verticalAlign: \'$1\','

  'text-align':
    'prefix': 'jta'
    'body': 'textAlign: \'$1\','

  'text-align-last':
    'prefix': 'jta-lst'
    'body': 'textAlignLast: \'$1\','

  'text-decoration':
    'prefix': 'jtd'
    'body': 'textDecoration: \'$1\','

  'text-emphasis':
    'prefix': 'jte'
    'body': 'textEmphasis: \'$1\','

  'text-height':
    'prefix': 'jth'
    'body': 'textHeight: \'$1\','

  'text-indent':
    'prefix': 'jti'
    'body': 'textIndent: \'$1\','

  'text-justify':
    'prefix': 'jtj'
    'body': 'textJustify: \'$1\','

  'text-overflow':
    'prefix': 'jtov'
    'body': 'textOverflow: \'$1\','

  'text-outline':
    'prefix': 'jto'
    'body': 'textOutline: \'$1\','

  'text-transform':
    'prefix': 'jtt'
    'body': 'textTransform: \'$1\','

  'text-wrap':
    'prefix': 'jtw'
    'body': 'textWrap: \'$1\','

  'text-shadow':
    'prefix': 'jtsh'
    'body': 'text-shadow: \'$1\','

  'transform':
    'prefix': 'jtrf'
    'body': 'transform: \'$1\','

  'transform-origin':
    'prefix': 'jtrfo'
    'body': 'transformOrigin: \'$1\','

  'transform-style':
    'prefix': 'jtrfs'
    'body': 'transformStyle: \'$1\','

  'transition':
    'prefix': 'jtrs'
    'body': 'transition: \'$1\','

  'transition-delay':
    'prefix': 'jtrsde'
    'body': 'transitionDelay: \'$1\','

  'transition-duration':
    'prefix': 'jtrsdu'
    'body': 'transitionDuration: \'$1\','

  'transition-property':
    'prefix': 'jtrsp'
    'body': 'transitionProperty: \'$1\','

  'transition-timing-function':
    'prefix': 'jtrstf'
    'body': 'transitionTimingFunction: \'$1\','

  'line-height':
    'prefix': 'jlh'
    'body': 'lineHeight: \'$1\','

  'white-space':
    'prefix': 'jwhs'
    'body': 'whiteSpace: \'$1\','

  'white-space-collapse':
    'prefix': 'jwhsc'
    'body': 'white-space-collapse: \'$1\','

  'word-break':
    'prefix': 'jwob'
    'body': 'wordBreak: \'$1\','

  'word-spacing':
    'prefix': 'jwos'
    'body': 'wordSpacing: \'$1\','

  'word-wrap':
    'prefix': 'jwow'
    'body': 'wordWrap: \'$1\','

  'writing-mode':
    'prefix': 'jwm'
    'body': 'writingMode: \'$1\','

  'letter-spacing':
    'prefix': 'jlts'
    'body': 'letterSpacing: \'$1\','

  'font':
    'prefix': 'jf'
    'body': 'font: \'$1\','

  'font-weight':
    'prefix': 'jfw'
    'body': 'fontWeight: \'$1\','

  'font-style':
    'prefix': 'jfs'
    'body': 'fontStyle: \'$1\','

  'font-variant':
    'prefix': 'jfv'
    'body': 'fontVariant: \'$1\','

  'font-size':
    'prefix': 'jfz'
    'body': 'fontSize: \'$1\','

  'font-size-adjust':
    'prefix': 'jfza'
    'body': 'fontSizeAdjust: \'$1\','

  'font-family':
    'prefix': 'jff'
    'body': 'fontFamily: \'$1\','

  'font-effect':
    'prefix': 'jfef'
    'body': 'fontEffect: \'$1\','

  'font-emphasize':
    'prefix': 'jfem'
    'body': 'fontEmphasize: \'$1\','

  'font-emphasize-position':
    'prefix': 'jfemp'
    'body': 'fontEmphasizePosition: \'$1\','

  'font-emphasize-style':
    'prefix': 'jfems'
    'body': 'fontEmphasizeStyle: \'$1\','

  'font-smooth':
    'prefix': 'jfsm'
    'body': 'fontSmooth: \'$1\','

  'font-stretch':
    'prefix': 'jfst'
    'body': 'fontStretch: \'$1\','

  'opacity':
    'prefix': 'jop'
    'body': 'opacity: $1,'

  'resize':
    'prefix': 'jrsz'
    'body': 'resize: \'$1\','

  'cursor':
    'prefix': 'jcur'
    'body': 'cursor: \'$1\','

  'flex-direction':
    'prefix': 'jfxd'
    'body': 'flexDirection: \'$1\','

  'flex-wrap':
    'prefix': 'jfxw'
    'body': 'flexWrap: \'$1\','

  'flex-flow':
    'prefix': 'jfxf'
    'body': 'flexFlow: \'$1\','

  'justify-content':
    'prefix': 'jjc'
    'body': 'justifyContent: \'$1\','

  'align-items':
    'prefix': 'jai'
    'body': 'alignItems: \'$1\','

  'align-content':
    'prefix': 'jac'
    'body': 'alignContent: \'$1\','

  'order':
    'prefix': 'jord'
    'body': 'order: $1,'

  'flex-grow':
    'prefix': 'jfxg'
    'body': 'flexGrow: \'$1\','

  'flex-shrink':
    'prefix': 'jfxsh'
    'body': 'flexShrink: \'$1\','

  'flex-basis':
    'prefix': 'jfxb'
    'body': 'flexBasis: \'$1\','

  'flex':
    'prefix': 'jfx'
    'body': 'flex: \'$1\','

  'align-self':
    'prefix': 'jas'
    'body': 'alignSelf: \'$1\','

  'page-break-before':
    'prefix': 'jpgbb'
    'body': 'pageBreakBefore: \'$1\','

  'page-break-inside':
    'prefix': 'pgbi'
    'body': 'pageBreakInside: \'$1\','

  'page-break-after':
    'prefix': 'jpgba'
    'body': 'pageBreakAfter: \'$1\','

  'orphans':
    'prefix': 'jorp'
    'body': 'orphans: \'$1\','

  'user-select':
    'prefix': 'jus'
    'body': 'userSelect: \'$1\','

  'widows':
    'prefix': 'jwid'
    'body': 'widows: \'$1\','
